/* dots */
.dot {
  height: 80px;
  width: 80px;    
  border-radius: 50%;
  line-height: 50px;
  font-size: 10px;
  display: inline-block;  
  text-align: center;  
  font-weight: bold;
}
.content{
  height: 400px;    
  overflow: auto;  
  background-color: rgb(235, 235, 235);
}