{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    {% if form.errors %}
    <p class="alert alert-danger">Something is wrong with the infomation you entered. Try again</p>
    {% endif %}

    <div class="card bg-transparent">
      <div class="card-header"><h2><b><u>Post a New Project</u></b></h2></div>
      <div class="card-body">
        <form action="{% url 'new_post' %}" method="post" enctype="mulitpart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}          
          <div class='form-group'>                     
            <hr>
            <input type="submit" class="btn btn-outline-danger" value="Post">
          </div>
        </form>        
      </div>      
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock content %}