{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block styles %}
  {{block.super}}    
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock styles %}

{% block content %}
  <div class="container"> 
    <h1 class="text-center jumbotron">{{person.username|title}}'s Profile Page.</h1>
    <div class="row">
      <div class="col-md-6">               
        {% if user.first_name %}
        <h4>Name: "{{person.first_name}} {{person.last_name}}"</h4>
        {% else %}
        <h4>Username: "{{person.username}}"</h4>
        {% endif %}
        <hr>
        <h5><b><u>Bio</u></b></h5>
          {% if person.profile.bio %}
          <p><i>{{person.profile.bio}}</i></p>
          {% else %}
          <p>........................</p>
          {% endif %}
          <hr>
        <h5><b>Find me via:</b></h5>        
          <p><i class="fas fa-envelope"></i>: <i>{{person.email}}</i></p>                      
          {% if person.profile.contact %}
          <p><i class="fas fa-phone-square-alt"></i>: <i>{{person.profile.contact}}</i></p>
          {% else %}
          <p><i class="fas fa-phone-square-alt"></i>: ....</p>
          {% endif %}
          {% if person.profile.git_name %}
          <p><i class="fab fa-github"></i>: <i>{{person.profile.git_name}}</i></p>
          {% else %}
          <p><i class="fab fa-github"></i>: ....</p>
          {% endif %}
      </div>  
      <div class="col-md-6">        
        {% if person.profile.profile_pic %}
          <img class="rounded-circle"src="{{person.profile.profile_pic.cdn_url}}" width="250px" height="250px" alt="Profile photo">
        {% else %}
          <img class="rounded-circle"src="https://cdn4.iconfinder.com/data/icons/human-user-business-person-avatars/100/23A-1User-512.png" width="250px" height="250px" alt="Profile photo">
        {% endif %}                  
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <h1><b><u>Projects</u></b></h1>    
    <div class="row">
    {% if posts %}
      {% for post in posts %}
      <div class="card" width="400px">
        <a href="/single_post/{{post.id}}"><img src="{{post.landing_page_pic.cdn_url}}" width="350px" heigth="350px" alt="{{post.title}}"></a>
        <hr>
        <h6>Rating: </h6>
        <div><span style="border:4px solid blue;" class="dot">D:{{post.design|floatformat:1}}%</span> <span style="border:4px solid orange;"class="dot">U:{{post.usability|floatformat:1}}%</span> <span style="border:4px solid red;" class="dot">C: {{post.content|floatformat:1}}%</span> <span style="border:4px solid violet;"class="dot">G-T: {{post.total}}</span></div>
      </div>
      {% endfor %}
    {% else %}
      <h6>No projects</h6> <h4><i class="fas fa-sad-tear"></i><h4>
    {% endif %}
    </div>
  </div>
{% endblock content %}
