{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block styles %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'css/single_post.css' %}">
{% endblock styles %}

{% block content %}  
<div class="container-fluid">
  <h1 class="jumbotron text-center">{{post.title}}</h1>
  {% if message %}
    <div class="alert alert-danger">{{mesage}}</div>
  {% endif %}
  <div class="row">
    <div class="col-md-6">      
      <img class="wow bounceInLeft" style="border-radius:10px 0px 10px 0px" src="{{post.landing_page_pic.cdn_url}}" width="560px" heigth="500px" alt="{{post.title}}">
      <h5><b>Rating</b></h5>
      <span style="border:4px solid blue;" class="dot">Design: {{rate_desi|floatformat:1}}%</span> <span style="border:4px solid orange;"class="dot">Usability: {{rate_usabi|floatformat:1}}%</span> <span style="border:4px solid red;" class="dot">Content: {{rate_conte|floatformat:1}}%</span> <span style="border:4px solid violet;"class="dot">Grand Total:{{post.total}}</span>      
      <a style="display:block" id="show" onclick="myFunction()" class="btn btn-info">Rate</a>
      <hr>      
      <form style="box-shadow: 3px 3px 3px 3px black; display:none" id="rate"  action="/rate/{{post.id}}/0" method="post" enctype="mulitpart/form-data">
        {% csrf_token %}
        <p>Design:</p>
          <input type="radio" name="design" value="1">1
          <input type="radio" name="design" value="2">2
          <input type="radio" name="design" value="3">3
          <input type="radio" name="design" value="4">4
          <input type="radio" name="design" value="5">5
          <input type="radio" name="design" value="6">6
          <input type="radio" name="design" value="7">7
          <input type="radio" name="design" value="8">8
          <input type="radio" name="design" value="9">9
          <input type="radio" name="design" value="10">10  

        <p>Usability:</p>
          <input type="radio" name="usability" value="1">1
          <input type="radio" name="usability" value="2">2
          <input type="radio" name="usability" value="3">3
          <input type="radio" name="usability" value="4">4
          <input type="radio" name="usability" value="5">5
          <input type="radio" name="usability" value="6">6
          <input type="radio" name="usability" value="7">7
          <input type="radio" name="usability" value="8">8
          <input type="radio" name="usability" value="9">9
          <input type="radio" name="usability" value="10">10          

        <p>Content:</p>
          <input type="radio" name="content" value="1">1
          <input type="radio" name="content" value="2">2
          <input type="radio" name="content" value="3">3
          <input type="radio" name="content" value="4">4
          <input type="radio" name="content" value="5">5
          <input type="radio" name="content" value="6">6
          <input type="radio" name="content" value="7">7
          <input type="radio" name="content" value="8">8
          <input type="radio" name="content" value="9">9
          <input type="radio" name="content" value="10">10                                

        <input type="submit" class="btn btn-outline-danger" value="Rate">
      </form>            
    </div>
    <div class="col-md-6">
      <div class="card wow bounceInRight" style="box-shadow: 6px 6px black;  ">
        <div class="card-header text-capitalize">{{post.title}}</div>
        <div class="card-body">
          <p><b>Description:</b> {{post.description}}</p>
        </div>  
        <div class="card-footer">          
          <p>Posted On: {{post.posted_on}}</p>
          <a href="{{post.live_link}}" id="site" class="btn">View site</a>          
          {% if post.posted_by.profile.profile_pic %}
            <a href="/profile/{{post.posted_by}}"><img class="rounded-circle" src="{{post.posted_by.profile.profile_pic}}" width="40px" height="40px"><span>By  {{post.posted_by}}</span></a>
          {% else %}
            <a href="/profile/{{post.posted_by}}"><img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLLiVPh45RkmE-FnMz_mZBOwcrK2BemrMoJ5I5SRSa5zHuMy3L&s" width="40px" height="40px"><span>By {{post.posted_by}}</span></a>
          {% endif %}
          <hr>
          {% if raters %}
          <h5>Voters:</h5>
            {% for rater in raters %}
              {% if rater.user.profile.profile_pic %}
                <span><a href="/profile/{{rater.user}}"><img class="rounded-circle" src="{{rater.user.profile.profile_pic}}" width="40px" height="40px"></a></span>
              {% else %}
                <span><a href="/profile/{{rater.user}}"><img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLLiVPh45RkmE-FnMz_mZBOwcrK2BemrMoJ5I5SRSa5zHuMy3L&s" width="40px" height="40px"></a></span>
              {% endif %}
            {% endfor %}                      
          {% endif %}
        </div>                
      </div>
      <hr>
      {% if request.user == post.posted_by %}
        <a href="/update_post/{{post.id}}" class="btn btn-outline-primary">Update Post</a>
        <a href="/delete/{{post.id}}" class="btn btn-outline-danger">Delete Post</a>
      {% endif %}
    </div>
  </div>
</div>
<hr>
<div class="container">  
  <h1><u>Reviews</u></h1>
  <div class="row">    
    <div class="col-md-4">      
      <form id="review_form" action="/ajax/review/{{post.id}}" method="post" enctype="mulitpart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}      
        <div class='form-group'>
          <input type="submit" class="btn btn-outline-danger" value="Post">
        </div>
      </form>
      <hr>
      <h6 id="numb">{{reviews.count}} reviews available for the project.</h6>
    </div>
    <div class="col-md-8 content">
      {% if reviews %}      
      {% for review in reviews %}
        <div class="card" style="width:650px">     
        {% if review.posted_by.profile.profile_pic %}
          <p><img class="rounded-circle" src="{{review.posted_by.profile.profile_pic}}" width="40px" heigth="40px"><b>{{review.posted_by}}</b> {{review.body}}</p>
          <p>{{review.posted_on|timesince}}</p>                                                  
        {% else %}
          <p><img class="rounded-circle" src="https://cdn4.iconfinder.com/data/icons/human-user-business-person-avatars/100/23A-1User-512.png" width="40px" heigth="40px"><b>{{review.posted_by}}</b> {{review.body}}</p>
          <p>{{review.posted_on|timesince}}</p>    
        {% endif %}             
        </div>
        <br>
      {% endfor %}    
      {% else %}
      <h6>No Reviews</h6> <h4><i class="fas fa-sad-tear"></i><h4>
      {% endif %}    
    </div>
  </div>
</div>
<script>    
  function myFunction() {
    var x = document.getElementById("rate");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
{% endblock content %}

{% block scripts %}
  {{block.super}}  
  <script type="text/javascript" src="{% static 'js/reviews.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/rate.js' %}"></script>
{% endblock scripts %}

  
  
  