{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}  
<div class="container">
  <h1 class="jumbotron text-center">{{post.title}}</h1>
  <div class="row">
    <div class="col-md-6">
      <a href="/profile/{{post.posted_by}}"><h4><b><i>{{post.posted_by}}</i></b></h4></a>
      <img src="{{post.landing_page_pic.cdn_url}}" width="500px" heigth="400px" alt="{{post.title}}">
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-capitalize">{{post.title}}</div>
        <div class="card-body">
          <p><b>Description:</b> {{post.description}}</p>
        </div>  
        <div class="card-footer">
          <p>Live Link: <a href="{{post.live_link}}">{{post.title}}</a></p>          
          <p>Posted By: {{post.posted_by}}</p>
          <p>Posted On: {{post.posted_on}}</p>
        </div>                
      </div>
      <hr>
      {% if request.user == post.posted_by %}
        <a href="/update_post/{{post.id}}" class="btn btn-outline-primary">Update Post</a>
        <a href="" class="btn btn-outline-danger">Delete Post</a>
      {% endif %}
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">  
  <h1><u>Reviews</u></h1>
  <div class="row">    
    <div class="col-md-4">      
      <form action="/ajax/review/{{post.id}}" method="post" enctype="mulitpart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}      
        <div class='form-group'>
          <input type="submit" class="btn btn-outline-danger" value="Post">
        </div>
      </form>
    </div>
    <div class="col-md-8">
      {% for review in reviews %}
        <div class="card" style="width:650px">
          <p>{{review.body}}</p>
          <p><small><b>Posted By:</b>{{review.posted_by}} <b>Posted On:</b>{{review.posted_on}}</small></p>                                                  
        </div>
        <br>
      {% endfor %}        
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  {{block.super}}
  <script type="text/javascript" src="{% static 'js/reviews.js' %}"></script>
{% endblock scripts %}

